*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
html,body{
	height: 100%;
}
.container{
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;

}
.clear{
	clear: both;
}

header{
	width: 100%;
	height: 80vh;
	min-height: 800px;
	background-image: url('../images/g.wagon-min.jpg');
	background-size: cover;
	background-position: center;
	max-height: 600px;
	padding: 40px 2%;
}

header nav{
	float: right;
}

nav.mobile-menu{
	display: none;
	width: 100%;


}
nav.mobile-menu ul{
	list-style-type: none;
	text-align: center;

}

nav.mobile-menu ul li{
	text-align: center;
	padding: 12px 0;
	display: inline;
}
nav.mobile-menu ul li a{
	text-decoration: none;
	color: black;
	border-left: 2px solid yellow;
	padding-left: 20px;
	margin: 0 25px;
	font-weight: bold;

}

header .logo a img{
	width: 170px;
	height: 170px;
	float: left;
	background-size: cover;
	background-position: center;
	margin: 0 auto;
}

header nav.desktop-menu ul{
	list-style-type: none;

}
header nav.desktop-menu li{
	float: left;
	margin: 15px 30px;
}
header nav.desktop-menu ul a{
	text-decoration: none;
	color: black;
	font-size: 15px;
	font-weight: bold;
	transition: 0.5s;
}
header nav.desktop-menu ul a:hover{
	border-left: 3px solid yellow;
	padding: 5px 5px;

}

.chamada1{
	float: right;
	padding: 0 2%;
	max-width: 600px;
	position: relative;
	bottom:60px;

}
.chamada1 h2{
	font-weight: normal;
	font-size: 40px;
}
.chamada1 p{
	margin-top: 9px;
	font-size: 18px;
}

section.sessao1{
	width: 100%;
	padding: 0 2%;
	background-color: rgb(237, 237, 237);
	height: 400px;
}

section.sessao1 .container{
	max-width: 1024px;
}

.texto-sessao1{
	float: left;
	width: 50%;
	padding: 0 2%;
}
.texto-sessao1 h2{
	font-size: 30px;

}
.texto-sessao1 p{
	padding: 10px 0;
	font-size: 19px;
}

.texto-sessao1 ul{
	list-style-position: inside;
	padding: 10px 0;
}

.texto-sessao1 ul li{
	width:100%;
	float: left;
	margin-top: 10px;
}

.btn1-texto{
	background-color: black;
	width: 175px;
	height: 50px;
	color: white;
	cursor: pointer;
	padding: 20px 0;
	border-radius: 20px;
	transition: 0.5s;
	margin-top: 15px;
}
.btn1-texto h4{
	text-align: center;
	line-height: 10px;
	font-weight: normal;
	font-size: 19px;
}

.btn1-texto:hover{
	background-color: yellow;
	color: black;
}

.device-sessao1{
	float: left;
	width: 50%;
	height: 450px;
	background-image: url("../images/device.png");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	top: -50px;
}

.sessao2{
	padding: 20px 2%;
	width: 100%;
	height: auto;
	max-height: 1024px;
	background-color: black;
}


.sessao2 h2{
	text-align: center;
	border-bottom: 2px solid yellow;
	color: white;
	font-weight: normal;
	padding: 15px 0;
}
.sessao2 p{
	text-align:center;
	margin-top: 50px;
	color: white;
}
div.img img{
	width: 100%;
	height: auto;
	margin: 50px auto;
}

.sessao3{
	width: 100%;
}

.part1{
	float: left;
	width: 50%;
	padding:300px 2% 90px 2%;
	background-color: yellow;
}
.wrapper-1{
	max-width: 500px;
	float: right;
	padding: 20px 0;
}
.part1 h2{
	margin-bottom: 15px;
	font-weight: normal;
}
.part1 p{
	text-align: justify;
}
.part2{
	float: left;
	width: 50%;
	padding: 280px 2% 40px 2%;

}

.scroll-equipe{
	max-width: 600px;
	padding-left: 20px;
	overflow: hidden;
}
.scroll-wrapper{
	width: 100%;
}
.sobre-autor{
	float: left;
	width: 100%;
	padding: 0 20px;
}

.título-autor{
	float: left;

}

.wrapper2{
	float: left;
}

.título-autor h2{
	padding-right: 20px;

}

.título-autor p{
	font-style: italic;
}

.título-autor .img-autor{
	float: left;
	width: 20%;
	padding-top: 20%;
	background-image: url('../images/Bruno.jpg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 30px;
	position: relative;
	top: -50px;
	left: 250px;
}
.texto-autor p{
	float: left;
	width: 100%;
	margin-top: -30px;
}

.slider-bullets{
	width: 100%;
	float: left;
	margin-top: 10px;
	padding-left: 40px;
}
.slider-bullets span{
	width: 14px;
	height: 14px;
	background-color: grey;
	margin-right: 8px;
	float: left;
	margin-top: 10px;
	border-radius: 7px;
	cursor: pointer;

}

section.sessao4{
	background-color: black;
	padding: 100px 0;

}
section.sessao4 h2{
	color: white;
	font-weight: normal;
}
section.sessao4 p{
	color: white;
	margin:20px 0;
}
.form{
	float: left;
	width: 50%;
	padding: 0 2%;
}
.form h2{
	text-align: center;
}
.form p{
	text-align: center;
}

.form form{
	text-align: center;
}
.form form input[type=text]{
	width: 100%;
	max-width: 400px;
	height: 50px;
	font-size: 15px;
	text-align: center;
	padding: 10px 5px;
	border: 1px solid black;
	margin-top: 5px;
}
.form form input[type=submit]{
	width: 100%;
	max-width: 400px;
	height: 50px;
	font-size: 25px;
	text-align: center;
	padding: 10px 5px;
	border: 1px solid black;
	margin-top: 10px;
	color: black;
	background-color: yellow;
	line-height: 25px;
	font-weight: bold;
	cursor: pointer;
}

.map-wrapper{
	float: left;
	width: 50%;
	padding: 0 2%;
}
.map-wrapper h2{
	color: white;
	text-align: center;
}
.map{
	width: 100%;
	max-width: 480px;
	height: 480px;
	background-color: white;	
}

footer{
	padding: 40px 2%;
	background-color: yellow;
	color: black;

}
footer p:nth-of-type(1){
	text-align: center;
	float: left;

}
footer p:nth-of-type(2){
	float: right;
	text-align: center;
}


@media screen and (max-width: 768px){
	header .logo a img{
		float: none;
		background-size: cover;
		background-position: center;
		position: relative;
		top: 5%;
		left: 37%;
	}

	nav.desktop-menu{
		display: none;
	}
	nav.mobile-menu{
		display: block;
	}

	.chamada1{
		width: 100%;
		text-align: center;
		padding: 2% 2%;
		border-bottom: 2px solid black;
		position: relative;
		top: 75px;
		float: none;
		max-width: none;
		

	}
	.chamada1 h2{
		font-size: 30px;
		font-weight: bold;
	}
	.chamada1 p{
		font-size: 15px;
	}

	section.sessao1{
		padding: 1px 2%;
		height: auto;
		text-align: center;

	}

	.texto-sessao1{
		float: none;
		margin-top: 15%;
		position: static;
		text-align: center;
		width: 100%;


	}

	.device-sessao1{
		display: none;
	}
	.btn1-texto{
		width: 80%;
		margin: 15px auto;
	}


	.part1{
		width: 100%;
		padding: 30px 7%;
		

	}
	.wrapper-1{
		float: none;
	}
	.part2{
		width: 100%;
		padding: 30px 2%;
	}
	.form{
		width: 100%;
	}

	.map-wrapper{
		width: 100%;
		margin: 40px 0;

	}
	.map-wrapper h2{
		border-bottom: 2px solid yellow;
	}

	footer{
		color: black;

	}
	footer p:nth-of-type(1){
		text-align: center;
		float: none;

	}
	footer p:nth-of-type(2){
		float: none;
		text-align: center;
		margin-top: 10px;
	}
}